@model CategoryChangeViewModel

<form id="form_select">
    <select class="form-select" asp-for="@Model.Id">
        @await Component.InvokeAsync("CategoriesMenu")
    </select>
</form>

<script asp-src-include="js/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".form-select").change(function () {
            $("#form_select").submit();
        });
        $("#form_select").submit(function (e) {
            e.preventDefault();
            var formData = $("#form_select").serialize();
            $.ajax({
                type: "GET",
                url: '@Url.Action("CategorySort", "Home")',
                data: formData,
                success: function (response) {
                    $("#productList").html(response);
                    console.log(response);
                }
            });
        });
    });
</script>