<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Доставка</title>
    <link rel="stylesheet" asp-href-include="css/bootstrap**.min.css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
